<html>
	<head>
		<link href="../static/css/bootstrap.css" rel=stylesheet></link>
		<link href="../static/css/docs.min.css" rel=stylesheet></link>
		<script src="../scripts/control-panel.js"></script>
		<script src="../scripts/instant-search-highlight.js"></script>
	</head>
	<body style="background-color: black; color: white; " >

		
		<div class="container">
			<div class="page-header">
				<!-- <p style="display:inline-block;">
				<img src="C:\Users\minal\OneDrive\Desktop\DataWatchdog\icons\icon.png" width="200" height="200">
  				<h1><b>DataWatchDog</b></h1>
				</p> -->
				<table>
					<tr>
						<td>
							<img src="C:\Users\minal\OneDrive\Desktop\DataWatchdog\icons\icon.png" width="100" height="100">
						</td>
						<td>
							<h1><b>DataWatchDog</b></h1>
						</td>
					</tr>
				</table>
				
				<h3><i>Empowering users to take charge of data security</i></h3>
  				<p>Welcome to DataWatchDog! Your trusted companion in safeguarding your online privacy.</p>
		</div>
		<button type="button" id="clean-storage"><font color = "#000"><b>Clear Data</b></font></button>
		<div class="container bs-docs-container">
			<div class="bs-docs-section">
				<div class="bs-callout bs-callout-danger">
					<h4><b><font color = "#ffffff">Is Your Data Being Leaked?</font></b></h4>
					<p id="input-fields-summary">

					</p>
				 </div>
			</div>
		</div>
			<div class="container-fluid">

				<div class='navbar navbar-default'>

				<p class='navbar-brand' >
					<font color = "#000"><b>
					Input information which should not have been shared without consent with services you have not interacted with. Like Email address, Phone number, Name, Address etc.
					</b>
				</font>
				</p>
				</div>
			</div>
			<input type="input" class="form-control" id="search-box" placeholder="Type to search..." col>
			  <script src="../scripts/tree.js"></script>
			  
		  	<div class="jumbotron">
		  		<div id='summary'>
		  		</div>

		  		<div id='input-data'>
		  		</div>
			</div>

			<div class="panel panel-default">
			  <!-- Default panel contents -->
			<div id='final-results' style='display:none'>Results</div>
			</div>

			<div id='results'>
		  	</div>

			<div id='tp-results'>
		  	</div>
		 </div>
		 <div>
			
		 </div>
	</body>
</html>